<div class="container col-md-4 mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white text-center">
      <h4>Iniciar Sesión</h4>
    </div>

    <div class="card-body">
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label class="form-label fw-bold">Correo</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Contraseña</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <div class="d-grid">
          <button class="btn btn-success" type="submit">Iniciar Sesión</button>
        </div>
      </form>

      <hr />
      <div class="text-center">
        <button class="btn btn-link" (click)="irARegistro()">Registrarme</button>
      </div>
    </div>
  </div>
</div>
