<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
       <h2>Agregar Autor</h2>
    </div>
    <div class="card-body">
      <form id="addauthorforms" class="needs-validation" novalidate>
        <div class="form-group">
          <div class="mb-2">
            <label for="name">Nombre:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="author.name" type="text" name="name" id="name" class="form-control" placeholder="Ingrese el Nombre" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Biografía:</label>
          <div class="mb-2">
            <textarea [(ngModel)]="author.biography_info" name="description" maxlength="250" class="form-control" placeholder="Ingrese la descripción" required></textarea>
            <div class="invalid-feedback">
              Por favor, ingrese la descripción del autor.
            </div>
          </div>
        </div>
        <button (click)="Save(author)" type="button" class="btn btn-outline-success">Guardar</button>
        <span style="margin-left:1em"></span>
        <button (click)="Cancel()" type="button" class="btn btn-outline-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
