<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Agregar Libro</h2>
      <div class="card-body">
        <form for="" class="needs-validation" novalidate>
          <div class="form-group">
            <div class="mb-2">
              <label for="">ISBN:</label>
            </div>
            <div class="mb-2">
              <input
                [(ngModel)]="book.isbn"
                type="text"
                name="isbn"
                id="isbn"
                maxlength="13"
                class="form-control"
                placeholder="Ingrese el ISBN sin guiones"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="mb-2">
              <label for="">Nombre del libro:</label>
            </div>
            <div class="mb-2">
              <input
                [(ngModel)]="book.name"
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Ingrese el Nombre"
              />
            </div>
            <!-- <div class="mb-2">
                <label for="">Autor del libro:</label>
              </div>
              <div class="mb-2">
                <input [(ngModel)]="book.author" type="text"  name="author"  id="author"  class="form-control" placeholder="Ingrese el Autor">
              </div>
              -->
            <div class="mb-2">
              <label for="author">Autor del libro:</label>
            </div>
            <div class="mb-2">
              <select
                class="form-select"
                id="author"
                name="author"
                [(ngModel)]="selectedAuthor"
              >
                <option
                  *ngFor="let author of availableAuthors"
                  [value]="author.id"
                >
                  {{ author.name }}
                </option>
              </select>
            </div>
            <div class="mb-2">
              <label for="">Descripción del libro:</label>
            </div>
            <div class="mb-2">
              <textarea
                [(ngModel)]="book.description"
                name="description"
                maxlength="250"
                class="form-control"
                placeholder="Ingrese la descripcion"
                required
              ></textarea>
            </div>
          </div>
          <button
            (click)="Save(book)"
            type="button"
            class="btn btn-outline-success"
          >
            Guadar
          </button>
          <span style="margin-left: 1em"></span>
          <button
            (click)="Cancel()"
            type="button"
            class="btn btn-outline-danger"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
