<div class="container">
  <div class="card-header">
    <h2 class="text-primary">Listado de Autores</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr class="text-center">
          <th>ID</th>
          <th>Nombre</th>
          <th>Biografía</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors" class="text-left">
          <td>{{author.id}}</td>
          <td>{{author.name}}</td>
          <td>{{author.biography_info}}</td>
          <td class="text-center">
            <button (click)="selectEdit(author)" class="btn btn-warning btn-sm">Editar</button>
            <span style="margin-trim:1em"></span>
            <button (click)="deleteAuthor(author)" class="btn btn-danger btn-sm">Borrar</button>
            <span style="margin-trim:1em"></span>
        </tr>
      </tbody>
    </table>

  </div>
</div>
