<!-- Solo muestra barra si NO estamos en /login -->
<div *ngIf="router.url !== '/login'">

  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/principal">Inicio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Botones a la derecha -->
      <ul class="navbar-nav ms-auto">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Menú Usuarios -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownUsuarios"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Opciones Administrador
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
              <li>
                <a class="dropdown-item" routerLink="/editorial">Editorial</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/listlibro">Libro</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/prestamo">Prestamo</a>
              </li>
            </ul>
          </li>

        </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Menú Usuarios -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownUsuarios"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-plus-circle"></i> Opciones Profesor
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
              <li>
                <a class="dropdown-item" routerLink="/editorial">Editorial</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/listlibro">Libro</a>
              </li>
            </ul>
          </li>

        </ul>
        </div>


        <li class="nav-item">
          <a class="nav-link text-info fw-bold" routerLink="/prestamo-estudiante">
            <i class="bi bi-person-circle"></i> Mis Prestamos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info fw-bold" routerLink="/perfil">
            <i class="bi bi-person-circle"></i> Perfil
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" (click)="logout()">
              <i class="bi bi-person-circle">Cerrar sesión</i>
            </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Aquí se renderizan las rutas -->
<router-outlet></router-outlet>
