<div class="container">
  <div class="card-header">
    <h2 class="text-primary">Listado de Libros</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr class="text-center">
          <th>ISBN</th>
          <th>Nombre</th>
          <th>Autor</th>
          <th>Descripción</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books" class="text-left">
          <td>{{book.isbn}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author.name}}</td>
          <td>{{book.description}}</td>
          <td class="text-center">
            <button (click)="selectEdit(book)" class="btn btn-warning btn-sm">Editar</button>
            <span style="margin-trim:1em"></span>
            <button (click)="deleteBook(book)" class="btn btn-danger btn-sm">Borrar</button>
            <span style="margin-trim:1em"></span>
        </tr>
      </tbody>
    </table>

  </div>
</div>
